@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
    font-family: "Inter";
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter";
}
body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container {
    max-width: 1200px;
    width: 95%;
}
header {
    width: 100%;
    position: relative;
}
.wrapNav {
    display: block;
    align-items: center;
    position: fixed;
    left: 0;
    transform: translateX(-150%);
    top: 0;
    background-color: #0f172a;
    width: 200px;
    height: 100%;
    z-index: 10;
    transition: 0.4s ease-in;
}
.wrapNav.wrapNavShow {
    transform: translateX(0);
}
.wrapNav .navMenu {
    position: relative;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}
.wrapNav .navMenu .closed {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.wrapNav .navMenu .nav {
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.wrapNav .navMenu .nav li {
    list-style: none;
}
.wrapNav .navMenu .nav .content {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.wrapNav .navMenu .nav .content.active {
    color: rgb(255, 174, 0);
}

.shadow {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.689);
}
.header {
    z-index: 4;
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #0f172a;
}
.header .menuMobile {
    display: none;
}
.header ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
.header ul li {
    padding: 36px 0;
}
.header ul li .content {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: 0.25s ease-in;
    outline: none;
    position: relative;
}
.header ul li .content.active {
    color: rgb(255, 174, 0);
}
.header ul li .content.active::after {
    content: "";
    position: absolute;
    bottom: -36px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 174, 0);
    border-radius: 5px;
}
.header ul li .content:hover {
    color: rgb(255, 174, 0);
}
.header ul li .content:hover::after {
    content: "";
    position: absolute;
    bottom: -36px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 174, 0);
    border-radius: 5px;
}
.header .logo {
    width: 150px;
    height: 60px;
}
footer {
    width: 100%;
}
.footer {
    background-color: #0f172a;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 32px 0;
}
.container.containerFooter {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container.containerFooter .wrapInformation {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.container.containerFooter .wrapInformation .blockInfor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 50px * 2) / 3);
    height: auto;
}
.container.containerFooter .wrapInformation .blockInfor .titleInfor {
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.container.containerFooter .wrapInformation .blockInfor .contentInfors {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contentInfors .content {
    font-size: 15px;
    font-weight: 400;
    color: rgb(242, 242, 242);
    text-decoration: none;
}
.contentInfors .content.contentHover:hover {
    color: rgb(255, 174, 0);
}
.container.containerFooter .wrapContent {
    display: flex;
    justify-content: center;
}
.container.containerFooter .wrapContent .blockContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.container.containerFooter .wrapContent .blockContent .title {
    font-size: clamp(24px, 4vw, 32px);
    color: white;
}
.container.containerFooter .wrapContent .blockContent .title span {
    color: #00b3ff;
}
.container.containerFooter .wrapContent .blockContent .buttonHero {
    padding: 8px 16px;
    border-radius: 10px;
    border: 0;
    font-size: clamp(14px, 3vw, 18px);
    font-weight: 700;
    color: white;
    background-color: #0ea5e9;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    outline: none;
}
.container.containerFooter .wrapContent .blockContent .buttonHero:hover {
    background: #0284c7;
    transform: translateY(-4px);
    box-shadow: 0 12px 28px rgba(14, 165, 233, 0.35);
}
.container.containerFooter .wrapContent .blockContent .buttonHero:active {
    transform: translateY(0);
}
@media only screen and (max-width: 720px) {
    .header {
        padding: 8px 0;
    }
    .header .menuMobile {
        display: block;
        left: 8px;
        cursor: pointer;
        font-size: 18px;
        color: white;
        position: absolute;
    }
    .header .logo {
        width: 100px;
        height: 50px;
    }
    .header ul {
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    .container.containerFooter .wrapInformation {
        gap: 30px;
        flex-wrap: wrap;
    }
    .container.containerFooter .wrapInformation .blockInfor {
        width: calc((100% - 30px) / 2);
    }
    .container.containerFooter .wrapInformation .blockInfor .titleInfor {
        font-size: 16px;
    }
    .contentInfors .content {
        font-size: 12px;
    }
}
