main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 50px;
    background-color: #1e293b;
    padding: 50px 0;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    border: 0;
    outline: none;
}
.title {
    font-size: clamp(22px, 4vw, 28px);
    font-weight: 700;
    color: white;
}
.boxButton .boxPrev {
    background-color: transparent;
    color: white;
    border: 0;
    outline: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    width: 110px;
}
.boxButton .boxPrev i {
    font-size: 16px;
}
.boxButton .boxPrev:hover {
    color: #00e9ff;
    justify-content: space-between;
}
.container.containerInfor {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.infor {
    padding-left: 30px;
    width: 100%;
}
.wrapInfor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapInfor li {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.926);
}
.wrapInfor li span {
    font-weight: 700;
    color: white;
}
.wrapInfor li ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
}
.container.containerTracks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.wrapTracks {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.wrapTracks .cardTrack {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    height: auto;
}
.wrapTracks .cardTrack .picture {
    width: 100%;
    height: 125px;
    border-radius: 6px;
    object-fit: cover;
}
.wrapTracks .cardTrack .wrapContetCard {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.wrapTracks .cardTrack .wrapContetCard .titleCard {
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.wrapTracks .cardTrack .wrapContetCard .contentCard {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.wrapTracks .cardTrack .wrapContetCard .contentCard li {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.937);
}
.wrapTracks .cardTrack .wrapContetCard .contentCard li.colorBlue {
    font-size: 14px;
    font-weight: 600;
    color: #00e9ff;
}
.container.containerMentor {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.wrapCardMentor {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
}
.wrapCardMentor .cardMentor {
    background-color: white;
    width: 220px;
    height: auto;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 4px 7px 20px 2px rgba(0, 0, 0, 0.57);
}
.wrapCardMentor .cardMentor .avatar {
    width: 100%;
    height: 222px;
    background-color: #bcd4f8;
    padding: 12px 12px 0 12px;
    border-radius: 8px;
}
.wrapCardMentor .cardMentor .wrapContentMentor {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapCardMentor .cardMentor .wrapContentMentor .name {
    font-size: 20px;
    font-weight: 700;
    color: #222222;
    text-align: center;
}
.wrapCardMentor .cardMentor .wrapContentMentor .inforMentor {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.wrapCardMentor .cardMentor .wrapContentMentor .inforMentor li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
}
.wrapCardMentor .cardMentor .wrapContentMentor .inforMentor li .color {
    font-size: 14px;
    font-weight: 700;
}
.container.containerBenefit {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.wrapBenefits {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.wrapBenefits .titleBenifits {
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.wrapBenefits ul {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.wrapBenefits ul li {
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.sectionActive {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.sectionActive .titleActive {
    font-size: clamp(18px, 4vw, 26px);
    font-weight: 700;
    color: white;
    text-align: center;
}
.sectionActive .titleActive span {
    color: #00b3ff;
}
.sectionActive .buttonSignIn {
    padding: 8px 16px;
    border-radius: 10px;
    border: 0;
    font-size: clamp(14px, 3vw, 17px);
    font-weight: 700;
    color: white;
    background-color: #0ea5e9;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    outline: none;
}
.sectionActive .buttonSignIn:hover {
    background: #0284c7;
    transform: translateY(-4px);
    box-shadow: 0 12px 28px rgba(14, 165, 233, 0.35);
}
.sectionActive .buttonSignIn :active {
    transform: translateY(0);
}
.sectionActive .buttonSignIn i {
    font-size: 15px;
}
@media only screen and (max-width: 1024px) {
    .wrapTracks {
        flex-wrap: wrap;
    }
    .wrapCardMentor {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 835px) {
    .wrapTracks {
        gap: 40px;
    }
    .wrapTracks .cardTrack {
        width: calc((100% - 40px) / 2);
    }
    .wrapTracks .cardTrack .picture {
        height: 170px;
    }
}
@media only screen and (max-width: 758px) {
    .wrapCardMentor {
        gap: 40px;
    }
    .wrapCardMentor .cardMentor {
        padding: 8px;
        width: calc((80% - 40px) / 2);
    }
    .wrapCardMentor .cardMentor .avatar {
        height: auto;
    }
    .wrapCardMentor .cardMentor .wrapContentMentor .inforMentor li {
        font-size: 14px;
    }
}
@media only screen and (max-width: 510px) {
    .wrapCardMentor {
        gap: 20px;
    }
    .wrapCardMentor .cardMentor {
        padding: 8px;
        width: calc((100% - 20px) / 2);
    }
    .wrapCardMentor .cardMentor .avatar {
        height: auto;
    }
    .wrapCardMentor .cardMentor .wrapContentMentor .inforMentor li {
        font-size: 14px;
    }
}
@media only screen and (max-width: 430px) {
    .wrapInfor li {
        font-size: 15px;
    }
    .wrapTracks .cardTrack {
        width: 100%;
    }
    .wrapTracks .cardTrack .picture {
        height: 190px;
    }
    .wrapBenefits ul li {
        font-size: 15px;
    }
}
